<html lang="en">
<%- include("../partials/head.ejs") %>

<body>
  <%- include("../partials/nav.ejs") %>

  <div class="details content">
    <h2><%= recipe.title %></h2>
    <div class="content">
        <h4 class="prep-time"><%= recipe.preptime %></h2>
            <h4 class="cook-time"><%= recipe.cooktime %></h4>
            <small> <%= recipe.flavor %></small>
            <p><%= recipe.ingredients %></p>
            <p><%= recipe.instructions %></p>
    </div>
    <a class="delete" data-doc="<%= recipe._id %>">🗑️ DELETE</a>
  </div>

  <%- include("../partials/footer.ejs") %>

  <script>
   const trashcan = document.querySelector('.delete');
   
   trashcan.addEventListener('click', (e) => {
    const endpoint = `/recipes/${trashcan.dataset.doc}`;

    fetch(endpoint, {
      method: 'DELETE'
    })
    .then((response) => res.json())
    .then((data) = window.location.href = data.redirect)
    .catch(err => {
      console.log(err);
    })
   })
  </script>
</body>
</html>